extends layout
include _includes/sharedHTMLfunctions

block content
	.row.page-header
		.col-lg-12
			h1= pageHeader.title
	.row
		.col-xs-12.col-md-9
			.row
				.col-xs-12.col-sm-6
					p.rating
						+outputRating(location.rating)
					p= location.address
					.panel.panel-primary
						.panel-heading
							h2.panel-title Время открытия
						.panel-body
							each time in location.openingTimes
								p
									| #{time.days} :
									if time.closed
										| Закрыто!
									else
										| #{time.opening} - #{time.closing}
					.panel.panel-primary
						.panel-heading
							h2.panel-title Услуги
						.panel-body
							each facility in location.facilities
								span.label.label-warning
									span.glyphicon.glyphicon-ok
									| &nbsp; #{facility}
								| &nbsp;
				.col-xs-12.col-sm-6.location-map
					.panel.panel-primary
						.panel-heading
							h2.panel-title Location map
						.panel-body.embed-responsive-16by16
							iframe(
							class="embed-responsive-item"
							,src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11041524.865896096!2d22.063045919973643!3d46.97862403465388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d1d9c154700e8f%3A0x1068488f64010!2z0KPQutGA0LDQuNC90LA!5e0!3m2!1sru!2sua!4v1549913804394"
							,frameborder="0"
							,style="border:0"
							,allowfullscreen
							)

			.row
				.col-xs-12
					.panel.panel-primary.review-panel
						.panel-heading
							a.btn.btn-default.pull-right(href=`/location/${location._id}/review/new`) Добавить отзыв
							h2.panel-title Customer reviews
						.panel-body.review-container
							each review in location.reviews
								.row
									.review
										.well.well-sm.review-header
											span.rating
												+outputRating(review.rating)
											span.reviewAuthor #{review.author}
											small.reviewTimestamp
												+formatDate(review.createdOn)
										.col-xs-12
											p !{(review.reviewText).replace(/\n/g, '<br>')}

		.col-xs-12.col-md-3
			p.lead #{location.name} - #{sidebar.context}
			p= sidebar.callToAction